*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

div.all {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

div.container {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

div.square {
    background-color: black;
    color: white;
}